body {
    margin: 0px;
}

@font-face {
    font-family: '04b30';
    src: url('Assets/fonts/04b30.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'arcadeclassic';
    src: url('Assets/fonts/arcadeclassic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'minecraftmedium';
    src: url('Assets/fonts/minecraftmedium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}